.topnav{
    overflow: hidden;
}

.logo{
    float:left;
    font-family: Arial;
    font-weight: Bold;
    font-size: 20px;
}

.links{
    float:right;
}

.links a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    color: rgb(67, 67, 67);
    padding-left: 10px;
    padding-right: 20px;
}

.links a:hover{
    color: red;
}

.txtlogo{
    color: red;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-bottom: 100px;
}

.image img {
    max-width: 100%;
    max-height: 100%;
    width: 50%;
    margin-top: 160px;
    /* Removed margin-top and margin-bottom as they are no longer necessary */
}

.desc {
    font-family: Arial;
    font-size: 30px;
    margin-top: 100px;
    padding-right: 20px; /* Adds some spacing between the text and the image */
    padding-left: 300px;
    width: 139%;
}

/* Adjust .topnav, .logo, .links, .links a, .links a:hover, .txtlogo as before */
.desc .S{
    color: red;
}

.desc .H{
    color: red;
}

.desc .A{
    color: red;
}

.web-developer {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), color-change 2s infinite alternate;
  }
  
  /* Color-changing keyframes */
  @keyframes color-change {
    0% { color: #000; }
    25% { color: #f00; } /* Change to red */
    50% { color: rgb(255, 89, 0); } /* Change to green */
    75% { color: rgb(255, 145, 0); } /* Change to blue */
    100% { color: #000; } /* Change back to black */
  }
  
footer{
    background-color: rgb(67, 67, 67);  
}

.footercontainer{
    width:100%;
    padding: 70px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color:white;
    transition:  0.5s;
}

.footerBottom{
    padding: 20px;
    text-align: center;
}

.footerBottom{
    margin-left: 50px;
}

.footerBottom p{
    color: white
}