.navbar {
    background-color: transparent !important;
}

.nav-link{
    margin-right: 35px;
    font:Arial;
    color:black;
    font-weight: bold;
}

.nav-link:hover{
    color:red;
}

.navbar-brand{
    font: Arial;
    color:red;
    font-weight: bold;
}

.navbar-brand .logotext{
    color: black;
}

.navbar-brand:hover{
    color:rgb(255, 225, 0);
}

.navbar-brand .logotext:hover{
    color:red;
}

.banner-wrapper{
    padding-top: 6.875rem;
}

.banner-wrapper .banner-content{
    vertical-align: middle;
    align-self: center;
}