body {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    margin: 0;
    background: linear-gradient(to right, #fbc2eb, #a6c1ee); 
}


.center {
    width: 300px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto; 
}


.form-group {
    margin-bottom: 10px; 
}

#Result {
    width: 100%; 
    padding: 8px 12px; 
    margin-top: 10px; 
    box-sizing: border-box; 
}

.btn {
    margin-right: 4px; 
    margin-bottom: 10px; 
    border:none;
    
}
