body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f7f7f7;
}

#table-container {
    margin-top: 20px;
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #333;
}

td {
    padding: 8px 16px;
}

h3 {
    color: #333;
}
